<%- partial('_partial/head') %>
<body data-spy="scroll" data-target="#sidebar" data-offset="70">
  <%- partial('_partial/header') %>

  <%- partial('_partial/common-scripts') %>

  <%- body %>

  <%- partial('_partial/modal_dialog') %>

  <%- partial('_partial/footer') %>

  <%- partial('_partial/google-analytics') %>
</body>
</html>